@import "_variables.scss";

@import "typography.scss";

// =============================== a mixin ... implemented in classes using @include
@mixin display-flex() { 
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin media-min-width($width){
  @media (min-width: $width) {
      @content;
    }
}

html {
  font-size: 94.75%;

  // ==== add media queries straight into elements and classes
  // @media (min-width: 40rem) {
  //     font-size: 125%;
  //   }

  @include media-min-width(40rem){
    font-size: 125%; // this imports into the @content part of the mixin
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
 @include display-flex(); // ================= including a mixin

  // === Nested Properties

  flex: {
    direction: column;
    wrap: nowrap;
  }

    // ==== Replaces These
    // flex-direction: column;
    // flex-wrap: nowrap;

  align-items: center;

  // === Arithmetic
  padding: $sizeDefault * 3 0; // used this for default value instead of 3rem
  box-sizing: border-box;
}

.sass-section {
  border: $border-default;
  padding: 2rem;
  text-align: center;
  width: 90%;
  box-sizing: border-box;

  // ==== Using Color Module ... helpful when working with color variables to make gradients consistent with reusable colors
  background: lighten(map-get($colors, main), 70%);

  @media (min-width: 40rem) {
    width: 30rem;
  }
}

.sass-introduction {
  // ======================= @extend builds inheritance
  @extend .sass-section;

  box-shadow: $sizeTiny $sizeTiny $sizeTiny / 2 #ccc; // more Arithmetic: $sizeTiny / 2, instead of 0.1rem

  // ==== Nested links
  p {
    margin: 0;
  }
}

.sass-details {
  @extend .sass-section;
  margin: $sizeDefault * 2 0;
}

.section-header {
  border-bottom: $border-default;
  
  h1 {
    margin: 0 0 $sizeDefault 0;
  }
}

.documentation-links {
  list-style: none;
  margin: $sizeDefault 0 0 0;
  padding: 0;
  display: -webkit-box;
  @include display-flex();
  flex-direction: column;

  // ==== Nested links
  
  li {
    margin: $sizeTiny 0;
    background: white;
  }

  .documentation-link {
    text-decoration: none;
    color: map-get($colors, main);
    display: block;
    padding: $sizeTiny;
    border: $border-default;

    // ====================== adding connectors with the ampersand sign...so much nicer
    &:hover,
    &:active {
      color: white;
      background: map-get($colors, secondary);
      border-color: map-get($colors, secondary);
    }
  } 

}


// =================================== Old Media Query
// @media (min-width: 40rem) {
//   html {
//     font-size: 125%;
//   }

//   .sass-introduction,
//   .sass-details {
//     width: 30rem;
//   }
// }
