@import "_variables.scss";

@import "typography.scss";

html {
  font-size: 94.75%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  // === Nested Properties

  flex: {
    direction: column;
    wrap: nowrap;
  }

    // ==== Replaces These
    // flex-direction: column;
    // flex-wrap: nowrap;

  align-items: center;

  // === Arithmetic
  padding: $sizeDefault * 3 0; // used this for default value instead of 3rem
  box-sizing: border-box;
}

.sass-introduction {
  border: $border-default;

    // ==== Using Color Module ... helpful when working with color variables to make gradients consistent with reusable colors
  background: lighten(map-get($colors, main), 70%);

  padding: 2rem;
  text-align: center;
  box-shadow: $sizeTiny $sizeTiny $sizeTiny / 2 #ccc; // more Arithmetic: $sizeTiny / 2, instead of 0.1rem
  width: 90%;
  box-sizing: border-box;

  // ==== Nested links

  p {
    margin: 0;
  }
}


.sass-details {
  border: $border-default;
  background: lighten(map-get($colors, main), 70%); // using color module again
  padding: $sizeDefault;
  text-align: center;
  margin: 2rem 0;
  width: 90%;
  box-sizing: border-box;
}

.section-header {
  border-bottom: $border-default;
}

.section-header h1 {
  margin: 0 0 $sizeDefault 0;
}

.documentation-links {
  list-style: none;
  margin: $sizeDefault 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  // ==== Nested links
  
  li {
    margin: $sizeTiny 0;
    background: white;
  }

  .documentation-link {
    text-decoration: none;
    color: map-get($colors, main);
    display: block;
    padding: $sizeTiny;
    border: $border-default;
  }

  .documentation-link:hover,
  .documentation-link:active {
    color: white;
    background: map-get($colors, secondary);
    border-color: map-get($colors, secondary);
  }
}



@media (min-width: 40rem) {
  html {
    font-size: 125%;
  }

  .sass-introduction,
  .sass-details {
    width: 30rem;
  }
}
